font-face{
    font-family:"Franklin Gothic Heavy";
    src: url(font/frahv.ttf);
    font-weight: 800;
}
html, body, section{
    background-color: rgb(35, 35, 35, 100%);
    max-width: 100%;
    min-height: 120vh;
}
/*NAVBAR*/
.navbar {
    background-color: rgb(35, 35, 35, 100%);
    margin-bottom: 0;
    width: 1516px;
}

.navbar a {
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    text-decoration: none;
    position: relative; 
}

.navbar a.in::after {
    content: "";
    display: block;
    margin-top: 5px; 
    width: 40%; 
    height: 1px; 
    background-color: #FFFFFF;
}

.navbar a.in:hover {
    color: rgb(128, 127, 127); 
}

.navbar-brand {
    margin: 30px;
    width: 140px;
    height: 22px;
}

.grid-head {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto; 
    margin-right: 5%;
    background-color: transparent; 
    padding: 10px;
}

.grid-head a {
    margin-right: 60px; 
}

/*PORTADA*/
.img-div {
    position: relative;
    top: 160px;
    display: flex;
    justify-content: end;   
}     
    
.img-div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 100px;
    width: 1400px;
    height: 100%;
    background-image: linear-gradient(to left, rgba(4, 4, 4, 0), rgb(35, 35, 35, 100%) 50%);
    z-index: 1;
}
    
.img-div img {
    z-index: 0; 
    top: 200px;
    height: 500px;

}

.ubi-circle{
    position: absolute;
    top: 45px;
    left: 0;    
    z-index: 2;    
    height: 600px;         
}    
.text-container-portada {
    position: relative;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-left: 50px;
    top: -290px;
    z-index: 3;
}

.text-container-portada h1 {   
    font-family: "Franklin Gothic Heavy";
    font-weight: 800;
    font-size: 64px;
    width: 800px;
}

.text-container-portada p {
    margin-top: 40px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 620px;
}

.red-button {
    width: 318px;
    height: 61px;
    background-color: #F2134F;
    color: white;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-size: 24px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 80px;
    margin-bottom: -120px;
}


/*FONDO AMARILLO*/
.fondo2{
    background-image: url(data/fondo-2.png); 
    width: 100%;
    background-repeat: no-repeat;
}
.container-cyan{
    padding-top: 120px;
    margin-left: 70px; 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas:
     "cyan"
     "cyan";

}
.rect-cyan{
    width: 1390px; 
    height: 420px;
    background-color: #31CCBE;
    border: 3px solid black;
     
}
.container-white{
    position: relative;
    margin-top: -435px;
    margin-left: 50px; 
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    grid-template-areas:
     "white"
     "white";

}
.rect-white{
    width: 1390px;
    height: 420px;
    background-color: white;
    border: 3px solid black;
}

.container-amarillo{
margin-top: -350px;
margin-left: 100px;
width: 500px;
display: grid;
grid-template-columns: 50%, 50%;
grid-template-rows: 25%, 75%; 
grid-template-areas: 
"tituloamarillo gift"
"textoamarillo gift";
}
.tituloamarillo{
    font-family: "Franklin Gothic Heavy"; color: #F2134F;
    font-weight: 800;
    font-size: 48px;
    width: 670px;
    -webkit-text-stroke: 1px black;
}
.textoamarillo{
    margin-top: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    width: 532px; 
    color: black;
}
.gift{
    width: 500px; 
    overflow: hidden; 
    border-radius: 20px;
    border: 3px solid black;
}

.Xarriba{
    position: relative;
    top: -350px;
    left: -90px; 
    width: 130px;
}
.Xabajo{
    position: relative;
    top: -50px;
    left: 50%; 
    width: 130px;
}
/*CARRUSEL*/
.mobile{
    display: none;
}
.text-container-programas h4 {
    color: white; 
    font-family: "Franklin Gothic Heavy";
    font-weight: 800;
    font-size: 36px;
    position: relative;
    top: -90px;
    left: 4%;
    width: 350px;
}
.carousel{
    margin-top: -30px;
}
.tarjeta{
    width: 395px;
    height:500px;
}
.carousel-item p{
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    width: 395px;
    color: white;
    text-align: center;

}
.orden-tarjetas {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
/*BULLETS*/
.container-rojo{
    margin-top: -1110px;
    margin-left: 85px;
    background-color: #F2134F;
    border-radius: 20px;
    width: 1343px;
    height: 777px;
    display: flex;
    justify-content: center;
}
.bullets{
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 570px;
    height: 305px;
    border-radius: 20px;
    margin: 10px;
}
.orden-bullets{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 75px;
}
.grid-bullet{
    margin-top: 25px;
    margin-left: 30px;
    width: 505px;
    height: 259px;
    display: grid;
    grid-template-columns: 30%, 70%;
    grid-template-rows: 40%, 60%; 
    grid-template-areas: 
    "foto h5"
    "foto descripcion";
    }
    .imgbull{
        grid-area: foto;
        width: 204px;
        height: 259px;
    }
    .h5bull{
        margin-left: 20px;
        margin-top: 20px;
        grid-area: h5;
        font-family: "Poppins", sans-serif;
        font-size: 32px;
        font-weight: bold;
        width: 283px; 
        color: black;
    }
    .descripcion{
        margin-left: 20px;
        grid-area: descripcion;
        width: 289px; 
        font-family: "Poppins", sans-serif;
        font-size: 20px;
        color: black;
    }
    #especial{
        font-size: 19px;
    }
    /*FORM*/
    .container-blanco{
        margin-top: 40px;
        background-color: white;
        border-radius: 10px;
        width: 100%;
        height: 686px;
    }
    .container-frase{
        position: relative;
        top: 40px;
        margin-left: 85px;
        background-color: #00F5CA;
        border-radius: 20px;
        width: 660px;
        height: 604px;
        z-index: 1;
    }
    .container-frase h3{
        position: relative;
        top: 110px;
        left: 100px;
        font-family: "Franklin Gothic Heavy";
        font-size: 64px;
        width: 478px; 
        color: black;
    }
    .container-frase img{
        position: relative;
        top: 110px;
        left: 490px;
    }
    .container-negro{
        position: relative;
        top: -564px;
        margin-left: 555px;
        background-color: black;
        border-radius: 20px;
        width: 872px;
        height: 604px;
        z-index: 0;
    }
    
    .container-negro img{
        position: relative;
        top: 10px;
        left: 690px;
    }
    .grid-form{
        position: relative;
        top: 30px;
        left: 250px;
        width: 583px;
        height: 493px;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 20%, 20%, 20%,20%, 20%; 
        grid-template-areas: 
        "h6"
        "nombre"
        "email"
        "opcion"
        "boton";
    }
    .grid-form h6{
        grid-area: h6;
        margin-top: 30px;
        font-family: "Franklin Gothic Heavy";
        font-size: 45px;
        width: 510px; 
        color: white;
    }
    .name-dentro{
    grid-area: nombre;
    box-sizing: border-box;
    width: 583px;
    height: 60px;
    background: #FFFFFF;
    border: 3px solid #898989;
    border-radius: 4px;
    margin-top: 35px;
    }
    #nombre{
    width: 583px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #898989;
}
.dentro-mail{
    grid-area: email;
    box-sizing: border-box;
    width: 583px;
    height: 60px;
    margin-top: 5px;
    background: #FFFFFF;
    border: 3px solid #898989;
    border-radius: 4px;
}
#email{
    width: 583px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #898989;
}
.prog-form{
    grid-area: opcion;
    width: 583px;
    height: 60px;
    margin-top: 5px;
    background: #FFFFFF;
    border: 3px solid #898989;
    border-radius: 4px;
    
}

#ProgramSelect{
    width: 583px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #898989; 
}
#boton {
    width: 228px;
    margin: 50px 170px; 
}

/*FEEDBACK*/
.feedback {
    background-image: url(data/bgfb.png);
    background-repeat: no-repeat;
    color: rgb(249, 245, 245); 
    position: relative;
}

#feedback {
    margin-bottom: -200px; 
    position: relative; 
}

.headfeed::before {
    content: "";
    position: absolute;
    top: -175px;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, rgba(35, 35, 35, 0) 37.09%, #232323 69.43%);
    z-index: 0;
}

.headfeed img {
    position: relative;
    left: 630px;
    top: 55px;
    z-index: 1;
}

.iconofb img {
    position: relative;
    left: 600px;
    top: 90px;
    z-index: 1;
}

.grid-feedb {
    position: relative;
    z-index: 1;
    top: 10px;
    left: 268px;
    width: 922px;
    height: 296px;
    text-align: center;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 50%, 50%;
    grid-template-areas: "gracias" "parte";
}

.gracias {
    grid-area: gracias;
    font-family: "Franklin Gothic Heavy";
    font-weight: 800;
    font-size: 60px;
    width: 922px;
}

.parte {
    grid-area: parte;
    padding-top: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    margin-left: 110px;
    width: 722px;
}
.gift2{
    position: relative;
    top: -400px;
    z-index: 2;
    width: 100%;
    height: 600px;
    margin-bottom: -500px;
}

.feedback footer {
    background-color: #F2BE13;
    width: 100%;
    height: 156px;
    border-radius: 10px;
    position: absolute;
    bottom: 0; 
    left: 0; 
    z-index: 3;
}

#fott {
    left: 550px;
    top: 20px;
    color: black;
}

.oculto{
    display: none !important;
}

/*FOOTER*/
footer{
    background-color: #F2BE13;
    width: 100%;
    height: 259px;
    border-radius: 10px;
}
.lgfoot{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 30px;
    padding-left: 30px;
}
.centrofoot{
    position: relative;
    left: 530px;
    top: -160px;
    width: 410px;
    height: 120px;
    display: grid;
    grid-template-columns: 25%,25%,25%,25%;
    grid-template-rows: 50%,50%; 
    grid-template-areas: 
    "txt txt txt txt"
    "ig yt tw twitch";
}
.txt{
    grid-area: txt;
    font-family: 'Poppins';
    font-size: 24px;
    margin-left: 10px;
    width: 341px;
    text-align: center;
}
.derefoot{
    position: relative;
    left: 1150px;
    top: -270px;
    width: 336px;
    height: 130px;
    display: grid;
    grid-template-columns: 30%,70%;
    grid-template-rows: 33%,33%,33%; 
    grid-template-areas: 
    "tel textel"
    "mail texmail"
    "copy textcopy";
}
.derefoot img{
    margin-right: 15px;
    margin-top: 5px;
}
.derefoot p{
    font-family: 'Poppins';
    font-size: 24px;
}
#texcopy{
    font-size: 14px;
    margin-left: -40px;
    margin-top: 2px;
}

